body {
    width: 100%;
    min-height: 100vh;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}


.container {
    padding: 40px;
    background-color: #6179c7;
    border-radius: 10px;
    box-shadow: 12px 7px 15px -3px rgba(0,0,0,0);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.container button {
    background-color: #3d4663;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
}

.container input {
    color: #000000;
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-cep{
    padding: 20px 0px;
}

/* .titulo-resultado {
    display: none;
} */